[submodule "LIBSVM"]
	path = LIBSVM
	url = C:\\Users\\Francis\\Programs\\DEVELOPMENT\\Face Recognition\\LIBSVM
[submodule "FeatureExtractorHOG"]
	path = FeatureExtractorHOG
url=https://bitbucket.org/KenjiKyoTeam/FeatureExtractorHOG