# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.ini

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Build results
debug.log
*.exp
*.exe
*.d
*.o
*.obj
[Dd]ebug/
[Dd]ebugPublic/
Properties/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
bld-vc14-x64/
lib-vc14-x64/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio cache/options directory
.vs/
_ReSharper.Caches/
.vscode/
*.TMP
output.txt

# NuGet Packages
*.nupkg
*.config
packages/
tessdata/

# Profiler files
*.psess
*.vsp

# Project specific
data/
img/
lib/
sln/
