# This is a sample build configuration for C++ - Make.
# Check our guides at https://confluence.atlassian.com/x/5Q4SMw for more examples.
# Only use spaces to indent your .yml configuration.
# -----
# You can specify a custom docker image from Docker Hub as your build environment.
image: hudl/opencv
#image: gcc:6.1

pipelines:
  default:
    - step:
        name: unittests
        script: # Modify the commands below to build your repository.
          # Print the Linux version.
          - uname -a
          # Print the gcc version.
          - gcc --version
          #  Install CMake
          - apt-get update -qq
          - apt-get install cmake -y
          - cmake --version
          # Get unzip
          ##- apt-get install unzip
          # Get git
          - apt-get install git
          - git --version
          # Get and build libsvm
          ##- wget "http://github.com/cjlin1/libsvm/achive/master.zip"
          - git clone "http://github.com/cjlin1/libsvm" libsvm
          ##- mkdir libsvm          
          ##- unzip master.zip -d libsvm
          - cd libsvm
          - make lib
          # Get and build Common(C++)
          - echo $COMMONCPP_SSH_KEY &gt; ~/.ssh/id_rsa.tmp
          - base64 -d ~/.ssh/id_rsa.tmp &gt; ~/.ssh/id_rsa
          - chmod 600 ~/.ssh/id_rsa
          - git clone http://bitbucket.org:TeamLIVIA/common-cpp.git commoncpp
          - cd commoncpp
          - mkdir build
          - cd build
          - cmake -DCMAKE_INSTALL_PREFIX=./install ..
          - make
          - make install  
          # Build ESVM
          - mkdir build
          - cd build 
          - cmake -DESVM_BUILD_TESTS=ON -DCMAKE_INSTALL_PREFIX=./install -DLIBSVM_ROOT_DIR=../libsvm -DCOMMON_CPP_ROOT_DIR=../commoncpp ..
          # Build, install and run ESVM tests
          - make
          - make install
          - ./install/bin/ESVM_Test
          
options:
  docker: true
